{% extends 'base.html.twig' %}

{% block title %}New RapportVisiteMedicament{% endblock %}

{% block body %}
    <h1>Create new RapportVisiteMedicament</h1>

    {{ include('rapport_visite_medicament/_form.html.twig') }}

    <a href="{{ path('app_rapport_visite_medicament_index') }}">back to list</a>
{% endblock %}
